<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
<% for(var i = 0; i < tweets.statuses.length; i++) { %>
    <div class="media-body">
      <h4 class="media-heading"><%= tweets.statuses[i] %></h4>
    </div>
  </li>
<% } %>
</ul>