  <ul class="media-list">
    <% tweets.forEach( function(element) { %>
      <li class="media">
        <div class="media-body">
          <h4 class="media-heading"><%= element.tweetext %></h4>
        </div>
      </li>
    <% }) %>
  </ul>